<header class="header">
  <nav role="navigation" aria-label="main">
    <ul class="header-nav container">
      <li class="header-logo">
        <a href="/"><span class="visually-hidden">X&#8209Team</span></a>
      </li>
      <li>
        <a href="/docs/">Documents</a>
      </li>
      <li>
        <a href="/members/">Members</a>
      </li>
      <li>
          <a href="/news/">News</a>
      </li>
      <li>
          <a href="/research/">Research</a>
      </li>
      </ul>
  </nav>
</header>
