<div class="unit one-fifth hide-on-mobiles">
  <aside>

    <h4>Recent News</h4>
    <ul>
      {% for post in site.posts limit:10 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %} 
    </ul>

    <h4>By Category</h4>
    <ul>
        <li class="{% if page.title == 'News' %}current{% endif %}">
            <a href="/news/all.html">All News</a> 
        </li>     

        <li class="{% if page.title == 'News' %}current{% endif %}">
            <a href="/news/jc.html">Journal Club</a> 
        </li>

        <li class="{% if page.title == 'News' %}current{% endif %}">
            <a href="/news/release.html">Releases</a> 
        </li>

        <li class="{% if page.title == 'News' %}current{% endif %}">
            <a href="/news/kc705.html">KC705</a> 
        </li>

        <li class="{% if page.title == 'News' %}current{% endif %}">
            <a href="/news/jadepix.html">JadePix</a> 
        </li>

        <li class="{% if page.title == 'News' %}current{% endif %}">
            <a href="/news/pr.html">Puerto Rico</a> 
        </li>

      </ul>
  </aside>
</div>
